@import "theme/colors";

.header {
  position: relative;
  display: flex;
}

.navigation {
  flex: 1 1 auto
}

.logo {
  flex: 0 0 auto;
}

.navLink {
  display: inline-block;
  margin: 24px 16px;
  color: $color-white;
  text-decoration: none;

  &:active, &.selected {
    border-bottom: 1px solid;
  }
}
