// fonts
$font-default: Roboto, Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

// colors
$black: #060606;
$white: #fff;
$grey: #b1b1b1;
$lightgrey: #dadada;
$verylightgrey: #f0f0f0;
$darkgrey: rgba(0,0,0,0.16);
$red: #eb2a2a;
$green: #189c2d;

$color-black: #060606;
$color-dark-grey: #161616;
$color-white: #fff;

$color-lemon: #ffed0a;
$color-blue-ribbon: #146dff;
$color-harlequin: #28ff0f;
$color-purple: #740dac;
$color-red-violet: #e51d8c;

$color-pumpkin: #ff721f;
$color-radical-red: #ff3b6a;
$color-candle-light: #ffdb1a;
$color-bright-turquoise: #19f4ca;
$color-governor-bay: #3353b7;
$color-biscay: #1e2e62;


$color-accent: #ff3b6a;

// misc
$border: 1px solid $lightgrey;
