/* Hairline */
@font-face {
  font-family: "Lato";
  src: url("Lato-Hairline.woff2") format("woff2"),
  url("Lato-Hairline.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

/* Hairline */
@font-face {
  font-family: "Lato";
  src: url("Lato-HairlineItalic.woff2") format("woff2"),
  url("Lato-HairlineItalic.woff") format("woff");
  font-style: italic;
  font-weight: 200;
}
