/* Medium */
@font-face {
  font-family: "Lato";
  src: url("Lato-Medium.woff2") format("woff2"),
  url("Lato-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

/* Medium */
@font-face {
  font-family: "Lato";
  src: url("Lato-MediumItalic.woff2") format("woff2"),
  url("Lato-MediumItalic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}
