/* Semibold */
@font-face {
  font-family: "Lato";
  src: url("Lato-Semibold.woff2") format("woff2"),
  url("Lato-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

/* Semibold */
@font-face {
  font-family: "Lato";
  src: url("Lato-SemiboldItalic.woff2") format("woff2"),
  url("Lato-SemiboldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 600;
}
