/* Thin */
@font-face {
  font-family: "Lato";
  src: url("Lato-Thin.woff2") format("woff2"),
  url("Lato-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

/* Thin */
@font-face {
  font-family: "Lato";
  src: url("Lato-ThinItalic.woff2") format("woff2"),
  url("Lato-ThinItalic.woff") format("woff");
  font-style: italic;
  font-weight: 100;
}
